@use "../styles//mixins" as *;
@use "../styles/variables" as *;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: clamp(1rem, 3vw, 3rem);
}
