.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* MAIN FIX */
.app main {
  flex: 1;

  width: 100%;

  display: flex;

  justify-content: center;

  align-items: center; /* ⭐ DETTA ÄR FIXEN */

  padding: clamp(1rem, 3vw, 3rem);
}
