@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.task-sort {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

/* reset button */
.reset-btn {
  @include button-reset;

  width: 100%;
  padding: 0.65rem;
  border-radius: 999px;

  border: 1px solid var(--border);
  color: var(--primary);

  font-size: 0.75rem;
  font-weight: 600;

  transition: $transition;

  &:hover {
    background: var(--primary);
    color: var(--on-primary);
    box-shadow: $shadow-gold;
  }
}
