@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.task-sort {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 100%;
}

/* exakt samma reset-knapp som filter */
.reset-btn {
  @include button-reset;

  width: 100%;
  padding: 0.65rem;
  border-radius: 999px;

  border: 1px solid $border-color;
  color: $primary;
  font-size: 0.75rem;
  font-weight: 600;

  transition: $transition;

  &:hover {
    background: $primary;
    color: $black;
    box-shadow: $shadow-gold;
  }
}
