@use "../../styles/mixins" as *;

.task-sort {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

/* SELECT */
.task-sort select {
  width: 100%;
  padding: 0.6rem 0.9rem;

  background: var(--surface);
  color: var(--text);

  border: 1px solid var(--border);
  border-radius: 10px;

  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;

  transition: 0.25s ease;
  appearance: none;

  /* custom arrow */
  background-image:
    linear-gradient(45deg, transparent 50%, var(--primary) 50%),
    linear-gradient(135deg, var(--primary) 50%, transparent 50%);
  background-position:
    calc(100% - 18px) 55%,
    calc(100% - 13px) 55%;
  background-size: 5px 5px;
  background-repeat: no-repeat;

  &:hover {
    border-color: var(--primary);
  }

  &:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(212, 175, 55, 0.25);
  }
}

@include mobile {
  .task-sort select {
    padding: 0.75rem 1rem;
  }
}
