@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.task-filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 0.75rem;
}

.reset-btn {
  @include button-reset;

  padding: 0.65rem;
  border-radius: 999px;

  border: 1px solid $border-color;
  color: $primary;
  font-size: 0.75rem;

  transition: $transition;

  &:hover {
    background: $primary;
    color: $black;
    box-shadow: $shadow-gold;
  }
}

@include mobile {
  .task-filters {
    grid-template-columns: 1fr;
  }
}