@use "../../styles/variables" as *;

.search {
  width: 100%;

  input {
    width: 100%;
    height: 40px;
    padding: 0 1.2rem;

    background: var(--surface);
    color: var(--text);

    border: 1px solid var(--border);
    border-radius: 10px; // samma som $radius

    font-size: 0.9rem;
    transition: 0.25s ease; // samma som $transition

    &:focus {
      outline: none;
      border-color: var(--primary);
      box-shadow: 0 0 0 2px rgba(212, 175, 55, 0.25);
    }
  }
}
